.add-container{
    height:40em; background-size:cover; width:auto;
    background-image: url(../../../assets/backgrd.jpg);
    background-position:50% 50%;
    

}

.h2{
    color: white;
   text-align: center;
}
.heading{
    margin: auto;
  width: 50%;
  height: 100px;
  padding: 10px;
  
}

label {
    color: whitesmoke;
    font-size: 1.2em;
    font-weight: bold;
}

form{
    text-align: center;
}

.row{
    justify-content: center;
}
p{
    color: whitesmoke;
}

button{
    border: none;
    padding: 10px;
    border-radius: 3px;
}
