<div class="list-container">
<div class="heading">
    <h1 class="h2">Parts List</h1>
    <a routerLink="/add-article" class="btn btn-success" *ngIf="hideWhenNoArticle">
      
      <i class="fas fa-plus custom-fa-plus"></i>
      Add Part
    </a>
  </div>
  
  <div class="pricing-header mx-auto">
  
    <div class="no-data text-center" *ngIf="preLoader">
      <img src="assets/preloader.gif" class="preloader-icon">
    </div>
  
    <div class="no-data text-center" *ngIf="noData">
      <p class="nodata-msg">No parts added yet!</p>
      <a routerLink="/add-article" class="btn btn-success">
        <i class="fas fa-plus custom-fa-plus"></i>
        Add Part
      </a>
    </div>
  
<ul>
  <li *ngFor="let article of Article | paginate: { itemsPerPage: 4, currentPage: p }; let i = index;">
    <div class="productContainer">
      <div class="card">
        <h1>{{article.part}}</h1>
        <p>{{article.description}}</p>
        <p class="price">${{article.price}}</p>
        <p>{{article.seller}}</p>
      </div>
    </div>
  </li>
</ul>
<pagination-controls (pageChange)="p = $event" autoHide="true" responsive="true"></pagination-controls>


  </div>
</div> 
 <!-- <div class="table-responsive" *ngIf="hideWhenNoArticle">
      <table class="table table-bordered table-responsive-sm table-responsive-md table-responsive-lg">
        <thead>
          <tr>
            <th scope="col">Part</th>
            <th scope="col">Seller</th>
            <th scope="col">Description</th>
            <th scope="col">Price</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let article of Article | paginate: { itemsPerPage: 7, currentPage: p }; let i = index;">
            <td>{{article.part}}</td>
            <td>{{article.seller}}</td>
            <td>{{article.description}}</td>
            <td>{{article.price}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <pagination-controls (pageChange)="p = $event" autoHide="true" responsive="true"></pagination-controls>-->
 
