<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Articles List</h1>
    <a routerLink="/add-article" class="btn btn-success" *ngIf="hideWhenNoArticle">
      <i class="fas fa-plus custom-fa-plus"></i>
      Add Article
    </a>
  </div>
  
  <div class="pricing-header mx-auto">
  
    <div class="no-data text-center" *ngIf="preLoader">
      <img src="assets/preloader.gif" class="preloader-icon">
    </div>
  
    <div class="no-data text-center" *ngIf="noData">
      <p class="nodata-msg">No articles added yet!</p>
      <a routerLink="/add-article" class="btn btn-success">
        <i class="fas fa-plus custom-fa-plus"></i>
        Add Article
      </a>
    </div>
  
    <div class="table-responsive" *ngIf="hideWhenNoArticle">
      <table class="table table-bordered table-responsive-sm table-responsive-md table-responsive-lg">
        <thead>
          <tr>
            <th scope="col">Title</th>
            <th scope="col">Author</th>
            <th scope="col">Description</th>
            <th class="text-center" scope="col">Edit</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let article of Article | paginate: { itemsPerPage: 7, currentPage: p }; let i = index;">
            <td>{{article.title}}</td>
            <td>{{article.author}}</td>
            <td>{{article.description}}</td>
            <td class="text-center action-block">
              <i class="far fa-edit" routerLink="/edit-article/{{article.$key}}"></i>
              <i class="far fa-trash-alt" (click)="deleteArticle(article)"></i></td>
          </tr>
        </tbody>
      </table>
    </div>
    <pagination-controls (pageChange)="p = $event" autoHide="true" responsive="true"></pagination-controls>
  </div>