.footer {
    display: flex;
    align-items: center;
    min-height: 3em;
    background-color: #ABD349;
}

.footer a {
    padding: 0 1em;
}

.facebook:hover {
    color: whitesmoke;
}

.instagram:hover {
    color: whitesmoke;
}

.twitter:hover {
    color: whitesmoke;
}