<footer class="footer ">
    <div class="container-fluid text-center">
        <div id="footer-text" class="footer-background h5 text-white">
            &copy; Motor Trend. All rights reserved.
        </div>
            <a href="https://www.facebook.com " class="facebook "><i class="fab fa-facebook-square "></i></a>
            <a href="https://www.instagram.com " class="instagram "><i class="fab fa-instagram "></i></a>
            <a href="https://twitter.com " class="twitter "><i class="fab fa-twitter-square "></i></a>
    </div>
</footer>
