<div class="login-container">
    <div class="login">
        <form #f="ngForm" (ngSubmit)="loginUser(f)">
            <fieldset>
                <h1>Login</h1>
                <p class="email">
                    <label for="email">Email:</label>
                    <br>
                    <input ngModel required type="email" id="email" name="username" placeholder="Example: example@abc.bg">
                </p>
                <p class="password">
                    <label for="password">Password:</label>
                    <br>
                    <input ngModel required type="password" name="password" id="password">
                </p>
                <div class="error" *ngIf="this.errorMessage != ''">
                    <p>{{this.errorMessage}}</p>
                  </div>
                <p class="submit">
                    <button class="btn-submit">Log In</button>
                </p>
            </fieldset>
        </form>
    </div>
</div>