<header>
  <section class="text-logo">
    <a routerLink="/home">MOTORTREND</a>
    <h6>MARKETPLACE</h6>
  </section>
  <ul *ngIf="isAuth">
    <li>
      <a routerLink="/add-article">Add parts</a>
    </li>
    <li>
      <a routerLink="/view-articles">View Parts</a>
    </li>
    <li class="nav-item dropdown">
      <a
        class="nav-link dropdown-toggle"
        id="navbarDropdownMenuLink"
        data-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false"
        >Welcome, {{ user.email }}!</a>
      <div
        class="dropdown-menu dropdown-primary"
        aria-labelledby="navbarDropdownMenuLink">
        <a class="dropdown-item" routerLink="/user-parts">Your Parts</a>
        <button class="dropdown-item" (click)="logoutUser($event)">
          Logout
        </button>
      </div>
    </li>
  </ul>
  <ul *ngIf="!isAuth">
    <li>
      <a routerLink="/login">Login</a>
    </li>
    <li>
      <a routerLink="/register">Register</a>
    </li>
  </ul>
</header>
