.register-container {
    width: 65%;
    margin: 0 auto;
    text-align: start;
    height:40em; background-size:cover; width:auto;
    background-image: url(../../assets/backgrd.jpg);
    background-position:50% 50%;
}

.register {
    align-items: center;
    padding: 3em;
}

.register h1 {
    color: whitesmoke;
}

.register label {
    color: whitesmoke;
}


